.LR {
    display: flex;
    flex-flow: row nowrap;
}

.UD {
    display: flex;
    flex-flow: column;
}

canvas {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgb(46, 46, 46);
}

#opt.sting {
    height: 102vh;
    top: -5px;
    left: -5px;
    width: 280px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    transition: width .1s, height .3s;
}

#opt {
    height: 40PX;
    width: 40px;
    background-color: rgba(180, 180, 180, 0.3);
    border-radius: 13px;
    z-index: 9999;
    
    position: absolute;
    top: -10px;
    left: -10px;
    
    animation: my-animation 2s infinite;
    transition: width .1s , height .3s;
}

#opt:not(.sting):hover {
    background-color: rgba(140, 140, 140, 0.9);
}

#opt:not(.sting):hover label {
    font-size: 22px;
    line-height: 51px;
    margin-left: 10px;
}

#opt:not(.sting) label {
    font-size: 17px;
    line-height: 51px;
    margin-left: 13px;
    color: black;
}


#opt.sting #stB {
    display: none;
}

#opt:not(.sting) *:not(#stB) {
    display: none;
}

/* ----------------------------------------------------- */

.flashh {
    animation: flash 0.4s linear !important;
}

@keyframes flash {
    0% {
        background-color: rgba(180, 180, 180, 0.3);
    }

    50% {
        background-color: rgba(200, 200, 200, 0.2);
    }

    100% {
        background-color: rgba(180, 180, 180, 0.3);
    }
}

/* --------------------------------------------------- */

#opt a {
    color: #FFF;
    line-height: 40px;
}

#opt .a1 {
    line-height: 36px;
    margin-left: 10px;
}

#opt .RB {
    border-radius: 3px;
    font-size: 22px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-top: 8px;
    line-height: 25px;
    cursor: pointer;

}

#opt .RBB {
    border-radius: 3px;
    font-size: 18px;
    width: 220px;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
    margin-left: 26px;
    cursor: pointer;
}

.RB:hover {
    background: rgba(230, 230, 230, 0.2);
}

.www {
    position: absolute;
    transform: translateX(-170px);
}

.ww {
    -webkit-appearance: none;
    appearance: none;
    margin: 10px;
    outline: 0;
    background-color: transparent;
    width: 150px;
    pointer-events: none;
}

/* 定义range控件轨道的样式 */
.ww::-webkit-slider-runnable-track {
    height: 4px;
    background-color: rgba(240, 240, 240, 0.3);
    border-radius: 2px;
}


.www::-webkit-slider-runnable-track {
    background-color: rgba(176, 12, 12, 0) !important;
}

/* 定义range控件容器的样式 */
[type="range"i]::-webkit-slider-container {
    height: 20px;
}

/* 定义range控件拇指的样式 */
.ww::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(220, 181, 24, 0.7);
    margin-top: -6px;
    pointer-events: auto;
    outline: 2px solid rgb(255, 255, 255);
}

.www::-webkit-slider-thumb {
    background-color: rgba(194, 99, 99, 0.7);
}